<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- region Remove unused permission(s) added by WorkManager -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:node="remove" />
    <!-- endregion -->

    <application
        android:name=".NotiFilterApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/notiflow_icon_main"
        android:label="@string/app_name_launcher"
        android:roundIcon="@drawable/notiflow_icon_main"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotiFilter">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NotiFilter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="co.adityarajput.notifilter.DISMISS_STALE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".LogWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/log_widget_info" />
        </receiver>
        <receiver
            android:name=".PanelWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/panel_widget_info" />
        </receiver>

        <service
            android:name=".services.NotificationListener"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:label="@string/app_name_launcher"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="specialUse" />
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".services.Accessibility"
            android:exported="false"
            android:label="@string/app_name_launcher"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:ignore="AccessibilityPolicy">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>
</manifest>
